# A little non-economic research


## Existing quiz tests

https://www.linkedin.com/skill-assessments/hub/quizzes/ 

![](../docs/li.png)

https://www.w3schools.com/quiztest/quiztest.asp?qtest=PANDAS


![](../docs/w3.png)

## Code interview

Datasets:

1. Binance Open Data: [spot candles](https://github.com/binance/binance-public-data/#klines)
2. OpenFIGI: [search API](https://www.openfigi.com/search).

### Binance Open Data

Downloading candles for `BTC/USDT` and `BTC/UDSC` using `bash` or `powershell`:

In [2]:
#!/bin/sh

# create dir for data
!mkdir ../data/binance

# download data using GET request
!wget -N -P ../data/binance https://data.binance.vision/data/spot/daily/klines/BTCUSDT/1m/BTCUSDT-1m-2022-06-21.zip
!wget -N -P../data/binance https://data.binance.vision/data/spot/daily/klines/BTCUSDC/1m/BTCUSDC-1m-2022-06-21.zip

# unzip
!unzip -o -d ../data/binance ../data/binance/BTCUSDT-1m-2022-06-21.zip 
!unzip -o -d ../data/binance ../data/binance/BTCUSDC-1m-2022-06-21.zip

mkdir: cannot create directory ‘../data/binance’: File exists
--2022-06-23 12:48:13--  https://data.binance.vision/data/spot/daily/klines/BTCUSDT/1m/BTCUSDT-1m-2022-06-21.zip
Resolving data.binance.vision (data.binance.vision)... 13.224.2.90, 13.224.2.55, 13.224.2.128, ...
Connecting to data.binance.vision (data.binance.vision)|13.224.2.90|:443... connected.
HTTP request sent, awaiting response... 304 Not Modified
File ‘../data/binance/BTCUSDT-1m-2022-06-21.zip’ not modified on server. Omitting download.

--2022-06-23 12:48:14--  https://data.binance.vision/data/spot/daily/klines/BTCUSDC/1m/BTCUSDC-1m-2022-06-21.zip
Resolving data.binance.vision (data.binance.vision)... 13.224.2.90, 13.224.2.55, 13.224.2.128, ...
Connecting to data.binance.vision (data.binance.vision)|13.224.2.90|:443... connected.
HTTP request sent, awaiting response... 304 Not Modified
File ‘../data/binance/BTCUSDC-1m-2022-06-21.zip’ not modified on server. Omitting download.

Archive:  ../data/binance/BTCUSDT-1m-2022-06-21.zip
  inflating: ../data/binance/BTCUSDT-1m-2022-06-21.csv
Archive:  ../data/binance/BTCUSDC-1m-2022-06-21.zip
  inflating: ../data/binance/BTCUSDC-1m-2022-06-21.csv

Import packages for data analysis

In [3]:
import numpy as np
import pandas as pd

import httpx

from datetime import datetime

Read data from CSV file to Pandas DataFrame:

In [4]:
def get_data(pair: str) -> pd.DataFrame:
    return pd.read_csv(f'../data/binance/{pair}-1m-2022-06-21.csv', header = None)

btcusdt_df = get_data('BTCUSDT')
btcusdt_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,1655769600000,20573.90,20590.00,20552.17,20558.36,70.76925,1655769659999,1.455321e+06,1150,37.36821,7.683845e+05,0
1,1655769660000,20558.35,20611.21,20558.35,20606.70,118.06032,1655769719999,2.430514e+06,1402,61.25760,1.260950e+06,0
2,1655769720000,20606.69,20626.89,20552.40,20552.40,130.42894,1655769779999,2.686026e+06,1433,55.80573,1.149409e+06,0
3,1655769780000,20552.41,20585.69,20539.09,20578.89,103.56318,1655769839999,2.128819e+06,1301,64.57346,1.327338e+06,0
4,1655769840000,20578.89,20579.90,20537.57,20554.46,83.55509,1655769899999,1.717907e+06,1098,36.40944,7.485065e+05,0

Set names to columns with 1m candles:

In [5]:
def set_column_names(df: pd.DataFrame) -> pd.DataFrame:
    column_names_mapping = {
        0: 'Open_time',
        1: 'Open',
        2: 'High',
        3: 'Low',
        4: 'Close',
        5: 'Volume',
        6: 'Close_time',
        7: 'Quote_asset_volume',
        8: 'Number_of_trades',
        9: 'Taker_buy_base_asset_volume',
        10: 'Taker_buy_quote_asset_volume',
        11: 'Ignore'
        }
    return df.rename(columns=column_names_mapping)

btcusdt_df = set_column_names(btcusdt_df)
btcusdt_df.head()

,Open_time,Open,High,Low,Close,Volume,Close_time,Quote_asset_volume,Number_of_trades,Taker_buy_base_asset_volume,Taker_buy_quote_asset_volume,Ignore
0,1655769600000,20573.90,20590.00,20552.17,20558.36,70.76925,1655769659999,1.455321e+06,1150,37.36821,7.683845e+05,0
1,1655769660000,20558.35,20611.21,20558.35,20606.70,118.06032,1655769719999,2.430514e+06,1402,61.25760,1.260950e+06,0
2,1655769720000,20606.69,20626.89,20552.40,20552.40,130.42894,1655769779999,2.686026e+06,1433,55.80573,1.149409e+06,0
3,1655769780000,20552.41,20585.69,20539.09,20578.89,103.56318,1655769839999,2.128819e+06,1301,64.57346,1.327338e+06,0
4,1655769840000,20578.89,20579.90,20537.57,20554.46,83.55509,1655769899999,1.717907e+06,1098,36.40944,7.485065e+05,0

Convert timestamp to human-readable date and time format:

In [6]:
btcusdt_df['Open_time'] = btcusdt_df.iloc[:, 0].apply(lambda t: datetime.fromtimestamp(t/1000))
btcusdt_df['Close_time'] = btcusdt_df.iloc[:, 6].apply(lambda t: datetime.fromtimestamp(t/1000))

Find min and max time:

In [7]:
btcusdt_df[['Open_time', 'Close_time']].aggregate(func=[min, max, len])

               Open_time                  Close_time
min  2022-06-21 00:00:00  2022-06-21 00:00:59.999000
max  2022-06-21 23:59:00  2022-06-21 23:59:59.999000
len                 1440                        1440

Calculate 1-hour `OHLCV` candles:

In [8]:
def calculate_ohclv(df: pd.DataFrame) -> pd.DataFrame:
    df['hour'] = df['Close_time'].apply(lambda t: t.hour)

    return (
        df
            .groupby(['hour'])
            .agg(
                {
                    'Open': 'first',
                    'High': max,
                    'Low': min,
                    'Close': 'last',
                    'Volume': sum,
                    'Close_time': max
                }
            )
            .reset_index()
            .drop(columns=['hour'])
        )

btcusdt_1h_df = calculate_ohclv(btcusdt_df)
btcusdt_1h_df

        Open      High       Low     Close      Volume              Close_time
0   20573.90  20705.74  20396.77  20672.30  4235.77392 2022-06-21 00:59:59.999
1   20672.30  20783.99  20504.89  20670.88  3892.91412 2022-06-21 01:59:59.999
2   20670.87  20699.93  20348.40  20433.49  2876.88928 2022-06-21 02:59:59.999
3   20433.49  20665.26  20365.00  20614.04  3306.77018 2022-06-21 03:59:59.999
4   20614.04  20740.72  20474.41  20656.17  2925.33542 2022-06-21 04:59:59.999
5   20656.17  21029.93  20621.14  20890.77  6516.65611 2022-06-21 05:59:59.999
6   20890.77  21202.00  20890.77  21192.08  6114.51662 2022-06-21 06:59:59.999
7   21192.08  21333.00  20952.46  21120.28  5433.08603 2022-06-21 07:59:59.999
8   21120.28  21500.01  21051.25  21356.32  6241.36801 2022-06-21 08:59:59.999
9   21356.32  21470.00  21166.94  21200.00  4961.57496 2022-06-21 09:59:59.999
10  21200.01  21307.83  21061.54  21299.27  3982.47578 2022-06-21 10:59:59.999
11  21299.02  21361.03  20911.13  20962.42  4685.42524 2022-06-21 11:59:59.999
12  20962.42  21163.24  20853.36  21106.20  5596.26303 2022-06-21 12:59:59.999
13  21106.19  21650.00  20995.64  21619.31  8667.59080 2022-06-21 13:59:59.999
14  21619.31  21723.00  21427.82  21590.79  6295.02429 2022-06-21 14:59:59.999
15  21590.79  21604.27  21339.07  21392.19  3809.54622 2022-06-21 15:59:59.999
16  21392.18  21550.39  21355.77  21401.52  2421.77629 2022-06-21 16:59:59.999
17  21401.52  21457.82  21195.70  21242.94  3755.82919 2022-06-21 17:59:59.999
18  21242.93  21256.99  21076.48  21100.01  2820.40675 2022-06-21 18:59:59.999
19  21100.00  21306.51  20870.01  20888.64  4015.33528 2022-06-21 19:59:59.999
20  20888.63  20987.38  20666.00  20859.86  4442.87596 2022-06-21 20:59:59.999
21  20859.86  21054.99  20808.00  20972.91  1813.56236 2022-06-21 21:59:59.999
22  20972.91  21003.70  20741.03  20897.00  2945.61650 2022-06-21 22:59:59.999
23  20897.00  20943.17  20551.00  20723.52  2613.77441 2022-06-21 23:59:59.999

Validate results:

In [9]:
assert(
    isinstance(btcusdt_1h_df, pd.DataFrame)
    and btcusdt_1h_df.shape == (24, 6)
    and not btcusdt_1h_df.isnull().any().any()
    and btcusdt_1h_df.iloc[:, 0:5].ge(0).all().all()
    )

Do the same for `BTC/USDC` pair:

In [10]:
btcusdc_df = get_data('BTCUSDC')
btcusdc_df = set_column_names(btcusdc_df)
btcusdc_df['Close_time'] = btcusdc_df.iloc[:, 6].apply(lambda t: datetime.fromtimestamp(t/1000))

btcusdc_1h_df = calculate_ohclv(btcusdc_df)
btcusdc_1h_df

        Open      High       Low     Close     Volume              Close_time
0   20549.65  20703.08  20371.75  20647.35  284.73521 2022-06-21 00:59:59.999
1   20648.06  20771.07  20482.83  20646.88  192.50513 2022-06-21 01:59:59.999
2   20644.78  20672.98  20331.36  20406.71  195.67023 2022-06-21 02:59:59.999
3   20402.27  20649.99  20331.48  20585.98  290.39210 2022-06-21 03:59:59.999
4   20586.63  20721.10  20449.57  20632.33  205.78459 2022-06-21 04:59:59.999
5   20640.33  20999.00  20594.58  20866.07  412.42477 2022-06-21 05:59:59.999
6   20873.25  21178.00  20873.25  21169.64  524.25894 2022-06-21 06:59:59.999
7   21166.58  21300.00  20913.40  21097.44  304.65113 2022-06-21 07:59:59.999
8   21097.20  21471.91  21023.64  21327.56  366.29201 2022-06-21 08:59:59.999
9   21342.76  21448.22  21144.24  21182.12  350.77543 2022-06-21 09:59:59.999
10  21175.75  21298.52  21038.30  21270.98  526.66602 2022-06-21 10:59:59.999
11  21273.73  21336.94  20887.17  20948.96  579.00200 2022-06-21 11:59:59.999
12  20936.59  21143.99  20800.00  21079.42  452.07214 2022-06-21 12:59:59.999
13  21079.41  21629.36  20968.21  21592.69  507.91190 2022-06-21 13:59:59.999
14  21595.13  21699.98  21394.05  21572.00  445.73978 2022-06-21 14:59:59.999
15  21571.96  21671.34  21314.94  21370.87  435.99237 2022-06-21 15:59:59.999
16  21370.08  21533.14  21330.00  21377.52  243.10368 2022-06-21 16:59:59.999
17  21377.85  21434.58  21168.59  21220.14  291.46137 2022-06-21 17:59:59.999
18  21220.14  21233.94  21054.72  21074.20  423.05836 2022-06-21 18:59:59.999
19  21074.81  21279.52  20851.10  20866.39  266.46488 2022-06-21 19:59:59.999
20  20864.31  20960.98  20645.03  20838.52  330.79569 2022-06-21 20:59:59.999
21  20838.51  21057.01  20780.29  20958.22   99.09836 2022-06-21 21:59:59.999
22  20950.07  20975.92  20719.02  20875.37  177.08203 2022-06-21 22:59:59.999
23  20880.71  20916.85  20527.90  20699.78  173.22797 2022-06-21 23:59:59.999

Join altogether:

In [11]:
btcusdt_1h_df['pair'] = 'BTC-USDT'
btcusdc_1h_df['pair'] = 'BTC-USDC'

candles_1h_df = pd.concat([btcusdt_1h_df, btcusdc_1h_df])

assert(
    isinstance(candles_1h_df, pd.DataFrame)
    and candles_1h_df.shape == (48, 7)
    and (candles_1h_df['pair'].unique() == ['BTC-USDT', 'BTC-USDC']).all()
)

Plot something interesting... :bulb:

Enrich dataset using Open FIGI API Interaction

In [12]:
def send_request(ticker: str) -> pd.DataFrame:
    api_url = f'https://www.openfigi.com/search/query?facetQuery=MARKET_SECTOR_DES:%22Curncy%22&num_rows=100&simpleSearchString={ticker}&start=0'

    response = httpx.get(api_url)
    json_response = response.json()
    
    return pd.DataFrame.from_dict(json_response['result'], orient='columns')

send_request('BTCUSDT')

JSONDecodeError: Expecting value: line 1 column 1 (char 0)